.to-do-item {
    margin: 10px 0;
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: fit-content;
    min-width: 800px;
    position: relative;
}
.to-do-item:hover {
    cursor: pointer;
    background: lightgrey;
}
.notice-is-done {
    color: green;
}
.delete-item {
    font-weight: bold;
    color: red;
    position: absolute;
    left: 830px;
    bottom: 35px;
    font-size: 1.5rem;
}